# Missing Value

In [2]:
import findspark
findspark.init('/home/navin/spark-2.4.6-bin-hadoop2.7')

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('MissingValue').getOrCreate()

In [4]:
df=spark.read.csv("file:///home/navin/Documents/Data/ContainsNull.csv", header=True, inferSchema=True)

In [6]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [8]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
# drop the row if contains 2 null values
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [14]:
df.na.drop(how='all').show() # drop the row if entire row have null values
# df.na.drop(how='any').show() # drop if cotains null value

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [15]:
df.na.fill(0).show() # note: it only fill the integer column

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
df.na.fill('empty').show() #note: it only fill the string column

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|empty| null|
|emp3|empty|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.na.fill('empty', subset=['Name']).show() # Best Practice

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|empty| null|
|emp3|empty|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [19]:
# Stop the SparkSession
spark.stop()