In [6]:
import findspark
findspark.init('/home/navin/spark-2.4.6-bin-hadoop2.7')
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dates').getOrCreate()
df=spark.read.csv("file:///home/navin/Documents/Data/appl_stock.csv", header=True, inferSchema=True)

In [7]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [9]:
df.select(['Date','Close']).show()

+-------------------+------------------+
|               Date|             Close|
+-------------------+------------------+
|2010-01-04 00:00:00|        214.009998|
|2010-01-05 00:00:00|        214.379993|
|2010-01-06 00:00:00|        210.969995|
|2010-01-07 00:00:00|            210.58|
|2010-01-08 00:00:00|211.98000499999998|
|2010-01-11 00:00:00|210.11000299999998|
|2010-01-12 00:00:00|        207.720001|
|2010-01-13 00:00:00|        210.650002|
|2010-01-14 00:00:00|            209.43|
|2010-01-15 00:00:00|            205.93|
|2010-01-19 00:00:00|        215.039995|
|2010-01-20 00:00:00|            211.73|
|2010-01-21 00:00:00|        208.069996|
|2010-01-22 00:00:00|            197.75|
|2010-01-25 00:00:00|        203.070002|
|2010-01-26 00:00:00|        205.940001|
|2010-01-27 00:00:00|        207.880005|
|2010-01-28 00:00:00|        199.289995|
|2010-01-29 00:00:00|        192.060003|
|2010-02-01 00:00:00|        194.729998|
+-------------------+------------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import (
dayofmonth, hour, dayofyear, month, year, weekofyear,format_number,date_format
)

**Note:** Whenever you use any SQL function you have to use inside `SELECT()`

In [12]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [13]:
df.select(hour(df['Date'])).show()

+----------+
|hour(Date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 20 rows

In [14]:
df.select(year(df['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

In [24]:
# find the average close for every year

# average_close=df.groupBy(year(df['Date'])).mean().show()
# average_close=df.groupBy(year(df['Date']).alias('year')).mean().select(["year","avg(Close)"]).show()
average_close=df.groupBy(year(df['Date']).alias('year')).mean().select(["year","avg(Close)"])

In [37]:
# alias("avg_closing_price")
# average_close.withColumnRenamed("avg(Close)","avg_closing_price")
result=average_close.withColumnRenamed("avg(Close)","avg_closing_price").select(["year",format_number("avg_closing_price",2).alias("Avg_closing_price")]).show()

+----+-----------------+
|year|Avg_closing_price|
+----+-----------------+
|2015|           120.04|
|2013|           472.63|
|2014|           295.40|
|2012|           576.05|
|2016|           104.60|
|2010|           259.84|
|2011|           364.00|
+----+-----------------+